@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Style+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: white;
    background: #111111;
    p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
    }
}

.logo {
    font-size: 35px;
    color: #E6533C ;
    font-weight: bold;
    font-style: italic;
}

.pages a{
    color:white;
    text-decoration:none ;
    margin-left: 10px; 
}
.select{
    background-color:#E6533C ;
    padding: 10px 15px ;
    border-radius: 20px;
}
.pages{
    margin-top: 20px;
    margin-right: 30px;
}

.navbar{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

/* banner css */

.banner{
    margin-left: 110px;
    display: flex;
    height: 600px;
    width: 85%;

}

.banner-content{
  
    width: 100%;
    

}

.banner-content h1{
    font-weight: 800;
    font-size: 70px;
    

}

.banner-content p{
    width: 100%;
    margin-bottom: 50px;
    
}

.banner-content h1 .italic {
    font-style: italic;
    font-family: "Style Script", cursive;
    font-size: 80px;
    font-weight: 100;
}
.btn-primary{
    text-decoration: none;
    background-color: #E6533C ;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    margin-right: 20px;
   
}

.btn-secondary{
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

.banner-image img{
   
    
}

@media (max-width : 576px) {
.navbar{
    margin-left: 10px;
}
.banner{
    margin-left: 10px;
    width: 100%;
    flex-direction: column;
}
.banner-content h1{
    font-weight: 800;
    font-size: 30px;
    }

    .banner-content h1 .italic {
        font-style: italic;
        font-family: "Style Script", cursive;
        font-size: 30px;
        font-weight: 100;
    }
    .banner-content p{
         width: 80%;
        
    }
    
    .banner-image{
        margin-top: 30px;
        width: 100%;
        margin-left: 50px;
    }

    .banner-image img{
   height: 400px;
   

    
    }
    .pages{
        display: none;
    }
.btn-primary{
    padding: 10px 15px;
    margin-right: 5px;
}
.btn-secondary{
    padding: 10px 15px;
}

}